div.dashboard {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(10, 10%);
  }
  
  table.rank-table, table.rank-table th, table.rank-table td {
    border: 0.1px solid rgb(206, 206, 206);
  }
  
  div.rank-list {
    display:flex;
    flex-direction: column;
  }

  div.rank-list {
    display:block;
    overflow-y:scroll;
    border: 1px solid rgb(194, 194, 194);
  }
  
  table.rank-table {
    border-collapse: separate;
    border-spacing: 0;
    max-height:100%;
    width:100%;
  }
  
  div.task-form-buttons {
    display:flex;
    justify-content: space-evenly;
  }
  
  button.task-form-buttons {
    width:70%;
    align-self: center;
  }
  
  form.task-creation-menu {
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 4;
    grid-row-end: span 3;
    display:flex;
    flex-direction: column;
    gap:23%;
  }
  
  div.rank-list {
    grid-column-start: 7;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 14;
  }

  table.rank-table thead {
    position: sticky;
    top: 0;
    background: white;

  }
  
  div.form-inputs {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap:2%;
    grid-template-rows: auto;
  }
  
  div.form-inputs > *:first-child {
    grid-column-start: span 2;
  }
  
  form.task-creation-menu label {
    display:flex;
    flex-direction: column;
  }
  
  label > input:is([type="text"], [type="number"]):read-only {
    color:rgb(90, 90, 90);
    border:0;
    text-overflow: ellipsis;
    outline:none;
  }

  div.task-session-container {
    display: flex;
    flex-direction: column;  
    gap: 10px;
  }

