.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

div.stopwatch > span {
  font-size: 40px;
  font-weight: bold;
  /**font-family: 'Courier New', monospace;  */
  color: #333;
}

div.stopwatch > span:nth-child(2) {
  font-size:22px;
  font-weight: bold;
  color: #595959;
}

div.stopwatch > span:nth-child(3) {
  font-size:16px;
  font-weight: bold;
  color: #949494;
}