div.settings {
    margin-top:50px;
    font-size:17px;
    font-weight:600;
}

div.settingsGroup {
    justify-self: center;
    width:50%;
}

div.settingsGroup h3 {
    margin-bottom:5px;
    margin-left:20%;
}


div.settings label {
    display:flex;
    justify-content: center;
    gap:50%;
    margin:20px 0px;
}