form.settings {
    margin-top:50px;
    justify-self: center;
    width:50%;
}

div.settingsGroup {
    font-size:17px;
    font-weight:600;
}

div.settingsGroup h3 {
    margin-bottom:5px;
    margin-left:20%;
}


form.settings label {
    display:flex;
    margin:20px 10%;
    justify-content: space-between;
}

div.settingsGroup input, div.settingsGroup button {
    font-weight: 400;
}

form.settings button.saveChanges {
    margin-top:15px;
    margin-left:auto;
    margin-right:10%;
    display:block;
}
