div.taskDisplay {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

table.taskList, table.taskList th, table.taskList td {
  border: 1px solid rgb(0, 0, 0);
}

div.rankList {
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

table.taskList {
  border-collapse: collapse;
}

