div.taskDisplay {
  display: grid;
  height:100%;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(10, 10%);
}

table.taskList, table.taskList th, table.taskList td {
  border: 1px solid rgb(0, 0, 0);
}

div.rankList {
  display:flex;
  flex-direction: column;
}

table.taskList {
  border-collapse: collapse;
}

div.taskFormButtons {
  display:flex;
  justify-content: space-evenly;
}

button.taskFormButtons {
  width:70%;
  align-self: center;
}

form.taskCreationMenu {
  grid-column-start: 2;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 3;
  display:flex;
  flex-direction: column;
  gap:8%;
}

div.rankList {
  grid-column-start: 7;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: span 3;
}

div.formInputs {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  row-gap:2%;
  grid-template-rows: auto;
}

div.formInputs > *:first-child {
  grid-column-start: span 2;
}

form.taskCreationMenu label {
  display:flex;
  flex-direction: column;
}

label > input:is([type="text"], [type="number"]):read-only {
  color:rgb(90, 90, 90);
  border:0;
  text-overflow: ellipsis;
  outline:none;
}